/* Index CSS */
/*********** IMPORT ***********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*********** COMMON ***********/
*{margin:0;padding:0}
html{font-size:100%}
body{font-size:12px;text-align:center;color: black}

/*********** FONTS ***********/
body{font-family: "Roboto", "Helvetica", "Arial"}
.codeblock{font-family:monospace}



h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
#intro h3 {
    margin-left: 15%;
    text-align: left;
    padding-top: 10px;
}

#intro {
    width: 100%;
    height: 600px;
    background-color: #008c6f;
    background-image: linear-gradient(45deg, #008c6f, #a3d2c8);
    color: white;
}
#intro-text {
    padding-top: 100px;
    width: 500px;
    margin-left: 15%;
    text-align: left;
}

#background-image {
    position: absolute;
    top: 50px;
    right: 100px;
    height: 500px;
}

#features {
    padding-bottom: 20px;
    padding-top: 20px;
}

#partners span {
    height: 200px;
    font-size: 3em;
    color: #008c6f;
}

#partners {
    padding-top:20px;
    height: 100px;
    padding-bottom: 20px;
    color:  #474747;

}

#features {
    color: #474747;
    font-size: 2em;
    text-align: left;
    vertical-align: top;
    padding-left: 15%;
}

footer {
    background-color: #008c6f;
    background-image: linear-gradient(45deg, #008c6f, #a3d2c8);
    height: 100px; 
    color: white;
    padding-top: 10px;
    text-align: left;
    padding-left: 15%;
}

.small-line {
    color: #474747;
    width: 200px;
    margin-left: calc(50% - 100px);
}

.feature {
    margin-top: 20px;
}

.features-images {
    width: 500px;
}
.features-text {
    width: 500px;
    display: inline-block;
}